extends layout

block content
    // Body content
    #content.clearfix
        .contentwrapper
            // Content wrapper
            - for(var i in list)
                .row
                    .col-lg-12
                        .panel.panel-default.chart
                            .panel-heading
                                h4
                                    span.icon16.icomoon-icon-bars       
                                    span #{list[i].name}
                                a.minimize(href="#") 收起      
                            .panel-body
                                .simple-chart(data-sensorId="#{list[i].id}")
                                    img.chart-loading(src="images/loaders/circular/054.gif",alt="加载中")
                                
block footer
    script(type="text/javascript", src="js/environment.js")
