extends layout

block content
    - for(var i in list)
        .row.column
            .col-md-2.col-md-offset-1.chartLabel.well
                h4.text-center #{list[i].name}
                img#nodeImg.img-thumbnail(src="/images/node.png")
                h4.text-center#sensorVal(data-id="#{list[i].id}")
                h6.text-center#lastUpdate(data-id="#{list[i].id}")
            .col-md-8#chartDiv
                ul.nav.nav-tabs
                    li.active(role="presentation")
                        a(href="#") 实时
                    li(role="presentation")
                        a(href="#") 最近1小时
                    li(role="presentation")
                        a(href="#") 最近3小时
                    li(role="presentation")
                        a(href="#") 最近1天
                    li(role="presentation")
                        a(href="#") 最近1周
                    li(role="presentation")
                        a(href="#") 最近1月
                #chart(data-id="#{list[i].id}")
        
    script(type='text/javascript', src='/js/status.js')
