extends layout

block content
    // Body content
    #content.clearfix
        .contentwrapper
            // Content wrapper
            .row
                .col-lg-8
                    .panel.panel-default.chart.gradient
                        .panel-heading
                            h4
                                span.icon16.icomoon-icon-bars
                                span 访客趋势
                        .panel-body(style="padding-bottom:0;")
                            .visitors-chart(style="height: 230px;width:100%;margin-top:15px; margin-bottom:15px;")
                            ul.chartShortcuts
                                li
                                    a(href="#")
                                        span.head 网站访客
                                        span.number 5090
                                li
                                    a(href="#")
                                        span.head 图书馆访客
                                        span.number 10248
                .col-lg-4
                    .centerContent
                        .circle-stats(dir="ltr")
                            .circular-item.tipB(title="温度")
                                span.icon.silk-icon-wand
                                input.redCircle(type="text", value="0")
                            .circular-item.tipB(title="湿度")
                                span.icon.silk-icon-drops
                                input.blueCircle(type="text", value="0")
                            .circular-item.tipB(title="亮度")
                                span.icon.silk-icon-sun
                                input.greenCircle(type="text", value="0")
                                    
                .col-lg-4
                    .page-header
                        h4 日历
                    #datepicker-inline
                        
                //- .col-lg-4
                //-     .sparkStats
                //-         h4 389 人访问了此页面
                //-         ul.list-unstyled
                //-             li
                //-                 | 访客：
                //-                 span.number 509
                //-             li
                //-                 | 馆藏书籍：
                //-                 span.number 53875
                //-             li
                //-                 | 可借书籍：
                //-                 span.number 14389

block footer
    script(type="text/javascript", src="js/index.js")
