extends layout

block content
    // Body content
    #content.clearfix
        .contentwrapper
            .row
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            h4.clearfix
                                span.left 实时监控
                                form.panel-form.right(action='')
                                    .iToggle-button
                                        input#liveCameraSwitch.nostyle(type='checkbox', checked='checked')
                            a.minimize(href='#') 收起
                        .panel-body#liveCameraContainer.securityImg
                            img#liveCamera(src="/API/Web/GetCameraImage")
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            h4.clearfix
                                span.left 报警器
                                form.panel-form.right(action='')
                                    .iToggle-button
                                        input.nostyle(type='checkbox')
                            a.minimize(href='#') 收起
                        .panel-body.securityImg
                            img(src="/images/mod/alarm.jpg")
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            h4.clearfix
                                span.left 通风扇
                                form.panel-form.right(action='')
                                    .iToggle-button
                                        input.nostyle(type='checkbox')
                            a.minimize(href='#') 收起
                        .panel-body.securityImg
                            img(src="/images/mod/fan.jpg")
            .row
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            h4.clearfix
                                span.left 烟雾传感器
                                span.label.label-success 安全
                            a.minimize(href='#') 收起
                        .panel-body.securityImg
                            img(src="/images/mod/smoke.jpg")
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            h4.clearfix
                                span.left 人体红外传感器
                                span.label.label-success 安全
                            a.minimize(href='#') 收起
                        .panel-body.securityImg
                            img(src="/images/mod/human.jpg")
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            h4.clearfix
                                span.left 门磁
                                span.label.label-success 安全
                            a.minimize(href='#') 收起
                        .panel-body.securityImg
                            img(src="/images/mod/door.jpg")
                
block footer
    script(type="text/javascript", src="js/security.js")
