#container {
    margin-top: 40px;
}
#nodeImg {
    clear: both;
    display: block;
    margin: auto;
}
.column {
    padding: 10px;
}
.column2 {
    padding: 40px;
}
#loginBtn {
    margin-top: 30px;
}
#chart {
    width: 100%;
    height: 240px;
    position: relative;
}
